<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
            <div class="text-left">
                <div class="sub-heading">
                    Какая кофемаштна подойдет Вам ?
                </div>
                Не можете выбрать, какую профессиональную<br/> кофемашину купить для ваших задач?<br/> Воспользуйтесь сервисом подбора, который<br/> порекомендует вам нужную модель.
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <a href="#" class="btn btn-danger">Подобрать кофемашину</a>
        </div>
    </div>
    <hr/>
    <div class="product">
        <div class="row">
            <div class="col-md-3 text-center">
                <img src="../../images/coffee_machine.png" height="300" width="300">
            </div>
            <div class="col-md-6">
                <div class="heading">
                    WMF 1500 S
                </div>
                <div class="sub-heading">
                    Минимум места, максимум вкуса
                </div>
                <div>
                    <ul class="list-group">
                        <li class="">
                            Габаритные размеры, мм ...............325х555х682
                        </li>
                        <li class="">
                            Производительность........................100 чашек/час/день
                        </li>
                        <li  class="">
                            Ассортимент напитков......................эспрессо, капучино, латте макьято
                        </li>
                        <li  class="">
                            Габаритные размеры........................эспрессо, капучино, латте
                        </li>
                        <li class="">
                            Производительность........................300 чашек/час/день
                        </li>
                        <li class="">
                            Питание..................................................220 V
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="center-vertical">
                    <div class="price">
                        123 137 грн.
                    </div>
                    <div>
                        <a href="#" class="btn btn-lg btn-default detail-btn">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>