<div class="wrap-product">
        <div class="row">
            <div class="col-md-3">
                <div class="wrap-img">
                    <div class="img-product">
                        <img src="../../images/product/img_1100s.png">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wrap-title-charact">
                    <div class="title-product">
                        WMF 1500 S
                    </div>
                    <div class="sub-title-product">
                        Сделайте первый шаг к профессиональному кофе
                    </div>
                    <div class="characteristics">
                        <ul class="list-group">
                            <li class="item">
                                Габаритные размеры, мм ...............325х555х682
                            </li>
                            <li class="item">
                                Производительность........................100 чашек/час/день
                            </li>
                            <li  class="item">
                                Ассортимент напитков......................эспрессо, капучино, латте макьято, кофе-крем, с возможностью приготовления шоколадных напитков (дополнительная опция), подача горячей воды
                            </li>
                            <li  class="item">
                                Мощность..............................................2,2 кВт
                            </li>
                            <li class="item">
                                Питание..................................................220 V
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="wrap-price">
                    <div class="rpice">
                        <p>123 137 грн.</p>
                    </div>
                    <div class="btn-more-info">
                        <button type="button" class="btn btn_none-fill"><a href="#">Подробнее</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
