<div class="wrap-product">
        <div class="row">
            <div class="col-12 order-1 d-block d-lg-none">
                <div class="wrap-title-charact">
                    <div class="title-product">
                        WMF 1500 S
                    </div>
                    <div class="sub-title-product">
                        Сделайте первый шаг к профессиональному кофе
                    </div>
                </div>
            </div>
            <div class="col-6 order-2 order-lg-1 col-md-6 col-lg-3">
                <div class="wrap-img">
                    <div class="img-product">
                        <img src="../../images/product/img_1100s.png">
                    </div>
                </div>
            </div>
            <div class="col-12 order-4 order-lg-2 col-md-12 col-lg-6">
                <div class="wrap-title-charact">
                    <div class="title-product d-none d-lg-block">
                        WMF 1500 S
                    </div>
                    <div class="sub-title-product d-none d-lg-block">
                        Сделайте первый шаг к профессиональному кофе
                    </div>
                    <div class="characteristics">
                        <div class="list-group">
                            <p class="item"><span>Габаритные размеры, мм</span><span>325х555х682</span></p>
                            <p class="item"><span>Производительность</span><span>100 чашек/час/день</span></p>
                            <p class="item"><span>Ассортимент напитков</span><span>эспрессо, капучино, латте макьято, кофе-крем, с возможностью приготовления шоколадных напитков (дополнительная опция)</span></p>
                            <p class="item"><span>Мощность</span><span>2,2 кВт</span></p>
                            <p class="item"><span>Питание</span><span>220 V</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 order-3 order-lg-3 col-md-6 col-lg-3">
                <div class="wrap-price">
                    <div class="rpice">
                        <p>123 137 грн.</p>
                    </div>
                    <div class="btn-more-info">
                        <!--<button type="button" class="btn btn_none-fill btn_small-mobile"><a href="product.html">Подробнее</a></button>-->
                        <a href="product.html" class="btn btn_none-fill btn_small-mobile">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
