<footer>
    <div class="container-fluid">
        <div class="row wrap-content-footer">
            <div class="col-sm-12 order-1 order-sm-1 col-md-3">
                <div class="f-logo">
                    <img src="../../images/logo.png" alt="CMS">
                </div>
            </div>
            <div class="col-sm-12 order-3 order-sm-2 col-md-3">
                <div class="f-menu left">
                    <ul>
                        <li class="item"><a href="#">Контакты</a></li>
                        <li class="item"><a href="#">Сервисные центры</a></li>
                        <li class="item"><a href="#">Блог</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 order-2 order-sm-3 col-md-3">
                <div class="f-menu right">
                    <ul>
                        <li class="item"><a href="#">Кофемашины</a></li>
                        <li class="item"><a href="#">Аренда</a></li>
                        <li class="item"><a href="#">Ремонт</a></li>
                        <li class="item"><a href="#">Сервис</a></li>
                        <li class="item"><a href="#">Комплексные решения</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 order-4 order-sm-4 col-md-3">
                <div class="f-contact">
                    <div class="wrap-social-icons footer">
                        <div class="social-icons footer">
                            <a class="phone d-none d-sm-block" href="tel:+38 (050) 449-06-00">+38 (050) 449-06-00</a>
                            <a class="email d-none d-sm-block" href="mailto:cms@cms.com.ua">cms@cms.com.ua</a>
                            <div class="icon">
                                <a href="#" class="social facebook"></a>
                                <a href="#" class="social insta"></a>
                                <a href="#" class="social youtube"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wrap-copyright">
            <div class="col">
                <div class="copyright">
                    <a href="http://wedo.com.ua" target="_blank">Сайт разработан и поддерживается компанией WEDO</a>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>

<script src="/local/templates/wedo/js/libs/bootstrap.min.js"></script>
<script src="/local/templates/wedo/js/libs/slick.min.js"></script>
<script src="/local/templates/wedo/js/dist/main.js"></script>
</body>
</html>