//= header_main.html

<header>
    <div class="container-line-menu">
        <div id="line-menu">
            <div class="container-fluid">
                <div class="row">
                    <div class="col col-sm-2 col-md-2 col-lg-2">
                        <div class="wrap-logo">
                            <a href="/local/templates/wedo/html/dist/">
                                <img src="../../images/logo_black.png" class="d-none d-sm-block" alt="CMS">
                                <img src="../../images/logo-small.png" class="d-block d-sm-none" alt="CMS">
                            </a>
                        </div>
                    </div>
                    <div class="col col-sm-10 col-md-10 col-lg-10">
                        <div class="wrap-social-icons normal-top">
                            <div class="social-icons">
                                <a class="phone black d-none d-sm-block" href="tel:+38 (050) 449-06-00">+38 (050) 449-06-00</a>
                                <a href="#" class="social facebook d-none d-sm-block"></a>
                                <a href="#" class="social insta d-none d-sm-block"></a>
                                <a href="#" class="social youtube d-none d-sm-block"></a>
                                <div class="burger-menu">
                                    <div class="navigation after-head">
                                        <div class="burger after-head">
                                            <span class="burger_global top_bun black"></span>
                                            <span class="burger_global patty black"></span>
                                            <span class="burger_global bottom_bun black"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay">
            <div class="container-fluid">
                <div class="row">
                    <div class="wrap-logo">
                        <a href="/local/templates/wedo/html/dist/">
                            <img src="../../images/logo.png" class="d-none d-sm-block" alt="CMS">
                            <img src="../../images/logo-small.png" class="d-block d-sm-none" alt="CMS">
                        </a>
                    </div>
                    <div class="burger-menu in-menu">
                        <div class="navigation">
                            <div class="burger small-top">
                                <span class="burger_global top_bun"></span>
                                <span class="burger_global patty"></span>
                                <span class="burger_global bottom_bun"></span>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-menu-item">
                        <div class="col">
                            <div class="left-menu">
                                <ul>
                                    <li class="item"><a href="#">Контакты</a></li>
                                    <li class="item"><a href="#">Сервисные центры</a></li>
                                    <li class="item"><a href="#">Блог</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="vr d-none d-sm-block">&nbsp;</div>
                        <div class="col">
                            <div class="right-menu">
                                <ul>
                                    <li class="item"><a href="#">Кофемашины</a></li>
                                    <li class="item"><a href="#">Аренда</a></li>
                                    <li class="item"><a href="#">Ремонт</a></li>
                                    <li class="item"><a href="#">Сервис</a></li>
                                    <li class="item"><a href="#">Комплексные решения</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-social-icons">
                        <div class="col col-lg-6">
                            <div class="social-icons">
                                <a class="phone" href="tel:+38 (050) 449-06-00">+38 (050) 449-06-00</a>
                                <a href="#" class="social facebook"></a>
                                <a href="#" class="social insta"></a>
                                <a href="#" class="social youtube"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>