.page-404 {
  height: 85vh;
  background-image: url(../../images/bg-404.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-down(xs){
    background-size: contain;
  }

  .code-404 {
    font-family: $Light;
    color: $red;
    font-size: 150px;
    p {
      margin: 0;
      text-align: center;
      line-height: 130px;
    }
  }

  .description-error {
    font-size: 26px;
    p {
      margin-bottom: 50px;
      text-align: center;
      line-height: 30px;
    }
  }


  .menu-left, .menu-right {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    a {
      font-size: 18px;
      line-height: 28px;
      text-decoration: none;
      color: $black;
      &:hover {
        color: $red;
      }
    }
    @include media-breakpoint-down(xs){
      min-width: 100%;
      a {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 6px;
      }
    }
  }
  .menu-left {
    text-align: right;
  }

  .menu-right {

  }
}