.catalog {
  .wrap-filter {
    min-height: 200px;

    .left {
      min-height: 200px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .catalog-text-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          max-width: 400px;
          margin: 0;
          &:first-child {
            font-size: 24px;
            padding-bottom: 10px;
            line-height: 28px;
          }
          &:last-child {
            font-size: 18px;
            font-family: $Light;
            line-height: 26px;
          }
        }
      }
      @include media-breakpoint-down(sm){
        justify-content: center;
      }
    }

    .right {
      min-height: 200px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .catalog-btn-filter {
        padding-left: 10px;
      }
      @include media-breakpoint-down(sm){
        min-height: 130px;
        justify-content: center;
        .catalog-btn-filter {
          padding-left: 0;
        }
      }
    }
  }

  .wrap-product {
    padding: 25px 0;
    margin: 40px 15px 40px 0;
    border: 2px solid $white;
    border-radius: 4px;
    transition: 0.5s;

    .wrap-img {
      display: flex;
      align-items: center;
      justify-content: center;
      .img-product {
        max-width: 270px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width:100%;
          height: auto;
        }
      }
    }

    .wrap-title-charact {
      height: 100%;
      width: 100%;
      padding-top: 5%;
      .title-product {
        font-size: 30px;
        font-family: $Bold;
        line-height: 30px;
      }
      .sub-title-product {
        font-size: 24px;
        font-family:$Semibold;
        padding-bottom: 15px;
        line-height: 30px;
      }
      .characteristics {
        .list-group {
          .item {
            font-size: 18px;
            line-height: 26px;
            display: flex;
            width: 100%;
          }
        }
      }
      @include media-breakpoint-down(sm){
        .sub-title-product {
          font-size: 20px;
          line-height: 22px;
        }
        .characteristics {
          .list-group .item{
            font-size: 15px;
            line-height: 20px;
          }
        }
      }
    }

    .wrap-price {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .rpice {
        width: 100%;
        text-align: center;
        p {
          font-size: 40px;
        }
      }
      .btn-more-info {
        width: 100%;
        text-align: center;
      }
      @include media-breakpoint-down(sm){
        .rpice p {
          font-size: 26px;
        }
      }
    }

    &:hover {
      box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    }

    @include media-breakpoint-down(sm){
      margin: 30px 0 30px 0;
      &:hover {
        box-shadow: none;
      }
    }
  }
}