//Header

#header-main {
  width: 100%;
  height: 100vh;
  background-image: url(../../images/bg_photo_9000s.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  #container-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .mask-color {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: rgba(28,28,28,.75);
      z-index: 1;
    }
  }
  .container-fluid {
    width: 100%;
    height: 100%;
    background: $bgHead;
    .top-fixed-line {
      position: relative;
      z-index: 2;
      .top-line {
        padding-top: 15px;
        display: flex;
        align-items: center;
        .wrap-logo {
          max-width: 100px;
          height: auto;
          //z-index: 400;
          //position: absolute;
         opacity: 1;
          //transition: opacity 0.3s;
          img {
            width: 100%;
            height: 100%;
          }
          @include media-breakpoint-down(sm) {
            max-width: 70px;
          }
        }
      }
      &.open {
        //.wrap-logo {
        //  opacity: 0;
        //}
        //width: 100%;
        //padding: 0 30px 0 0;
        //position: fixed;
        //z-index: 10;
      }
    }
    .bottom-line {
      z-index: 2;
      bottom: -19px;
      position: absolute;
      width: 100%;
      @include media-breakpoint-down(sm){
        bottom: 10px;
      }@include media-breakpoint-between(sm, md){
         bottom: -10px;
       }
      .wrap-title {
        .title-header {
          font-size: 100px;
          color: $white;
          font-family: $Black;
          text-transform: uppercase;
          letter-spacing: 3px;
          line-height: 100px;
          margin: 0;
          span {
            color: $red;
            font-style: italic;
            font-size: 116px;
          }
          @include media-breakpoint-down(sm) {
            font-size: 26px;
            line-height: 26px;
            span {
              font-size: 30px;
            }
          }
          @include media-breakpoint-between(sm, md) {
            font-size: 64px;
            line-height: 64px;
            span {
              font-size: 64px;
            }
          }
        }
      }
      .scroll-indicator {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        height: 85%;
        animation: move 1s infinite linear;
        img {
          width: 25px;
        }
        @keyframes move {
          40% {
            height: 83%;
            animation-timing-function: ease-in;
          }
          80% {
            height: 85%;
          }
        }

      }
    }
  }
}
//END Header
//social
.wrap-social-icons {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  top: -50px;
  &.normal-top {
    top: 0;
  }
  &.footer {
    position: inherit;
  }
  .social-icons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &.footer {
      align-items: flex-end;
      flex-direction: column;
      .email {
        font-size: 18px;
      }
      .phone {
        letter-spacing: -0.2px;
      }
      @include media-breakpoint-down(sm){
        align-items: center;
        .email {
          font-size: 16px;
        }
      }
    }
    .icon {
      display: flex;
      padding-top: 5px;
    }
    .phone, .email {
      margin: 0 10px;
      text-decoration: none;
      color: $white;
      &.black {
        color: $black;
      }
    }
    .social {
      width: 35px;
      height: 34px;
      margin: 0 10px;
      &.facebook {
        background-image: url(../../images/social.png);
        &:hover {
          background-position: 0 -50px;
        }
      }
      &.insta {
        background-image: url(../../images/social.png);
        background-position: 82px 0;
        &:hover {
          background-position: 82px -50px;
        }
      }
      &.youtube {
        background-image: url(../../images/social.png);
        background-position: 35px 0;
        &:hover {
          background-position: 35px -50px;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    //position: absolute;
    //top: -10px;
    .social-icons {
      .social {
        margin: 0 4px;
      }
      .phone {
        font-size: 14px;
      }
    }
  }
}
//END social
//burger
.burger-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &.in-menu {
    position: absolute;
    right: 0;
    top: 34px;
    .burger {
      top: 20px;
      right: 30px;
      &.small-top {
        //top: 10px;
      }
    }
    @include media-breakpoint-down(sm){
      .burger {
        top: 0;
        right: 15px;
      }
    }
  }
  .navigation {
    width: 100%;
    height: auto;
    z-index: 2;
    position: absolute;
    &.after-head {
      position: relative;
      .burger {
        //right: 30px;
        @include media-breakpoint-up(md){
          right: 15px;
        }
      }
    }
  }
  .burger {
    position: absolute;
    //top: 15px;
    right: 15px;
    cursor: pointer;
    width: 34px;
    height: 40px;
    z-index: 3;
    &.after-head {
      position: relative;
      top: 0;
      height: 30px;
    }
    @include media-breakpoint-down(sm) {
      top: -10px;
      right: 0;
    }
    .burger_global {
      position: absolute;
      border-top: 3px solid $white;
      width: 100%;
      &.black {
        border-top: 3px solid $black;
      }
      &.top_bun {
        top: 0;
        transition: transform 500ms ease, border 500ms ease;
        transform-origin: left center;
      }
      &.patty {
        top: 12px;
        transition: opacity 500ms ease;
      }
      &.bottom_bun {
        top: 24px;
        transition: transform 500ms ease, border 500ms ease;
        transform-origin: left center;
      }
    }
    &.open {
      span {
        border-color: $white;

      }
      .top_bun {
        transform: rotate(45deg);
      }
      .patty {
        opacity: 0;
      }
      .bottom_bun {
        transform: rotate(-45deg);
      }
    }
  }
}
//END burger
// overlay manu
.overlay {
  overflow: hidden;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 100vw;
  z-index: 2;
  color: $white;
  background-image: url("../../images/bg-burger.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  transition: left 0.7s ease-in-out;
  &.open {
    width: 100vw;
    position: fixed;
    z-index: 4;
    left: 0;
    .container-fluid {
      width: 100%;
      height: 100%;
      background: rgba(28, 28, 28, 0.1);
    }
  }
  .wrap-logo {
    max-width: 100px;
    height: auto;
    position: absolute;
    top: 15px;
    left: 15px;
    img {
      width: 100%;
      height: 100%;
    }
    @include media-breakpoint-down(sm){
      max-width: 70px;
    }
    @include media-breakpoint-down(xs){
      max-width: 50px;
    }

  }
  .wrap-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    transition: opacity 10ms ease 10ms;
    .vr {
      width:4px;
      background-color: $white;
      position:absolute;
      max-height: 500px;
      min-height: 400px;

    }
    .left-menu {
      text-align: right;
      padding-right: 20px;
      font-family: $Light;
    }
    .right-menu {
      padding-left: 20px;
      font-family: $Bold;
      text-align: left;
    }
    .left-menu,
    .right-menu {
      .item {
        width: 100%;
        line-height: 30px;
        padding: 10px 0;
        a {
          text-decoration: none;
          color: $white;
          font-size: 36px;
          transition: all 0.5s ease;
          width: 100%;
          &:hover {
            color: $red;
          }
        }
      }
    }
    @include media-breakpoint-down(sm){
      .left-menu,
      .right-menu {
        .item {
          line-height: 22px;
          padding: 10px 0;
          a {
            font-size: 30px;
          }
        }
      }
      .right-menu {
        height: 100%;
        display: flex;
        align-items: flex-end;
      }
    }
    @include media-breakpoint-down(xs){
      flex-direction: column-reverse;
      .left-menu,
      .right-menu {
        text-align: left;
        padding: 0;
        .item {
          padding: 5px 0;
          a {
            font-size: 20px;
          }
        }
      }
      .right-menu {
        height: 100%;
        display: flex;
        align-items: flex-end;
      }
    }
  }
}
// END overlay manu


//section line-menu
#line-menu {
  height: 115px;
  display: flex;
  align-items: center;
  .wrap-logo {
    max-width: 90px;
    height: auto;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .wrap-social-icons {
    .social-icons {
      justify-content: flex-end;
      .phone {
        margin: 0 30px;
      }
      .social {
        margin: 0 30px;
      }
      .burger-menu {
        margin-left: 40px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    height: 80px;
    .wrap-logo {
      max-width: 70px;
    }
    .wrap-social-icons {
      .social-icons {
        .phone {
          margin: 0 10px;
        }
        .social {
          margin: 0 15px;
        }

      }
    }
  }
  @include media-breakpoint-down(xs) {
    height: 80px;
    .wrap-logo {
      max-width: 50px;
    }
  }
}
//END section line-menu

//section-title and description
.section-title {
  .title {
    font-size: 38px;
    color: $black;
    line-height: 48px;
    text-align: center;
    padding-bottom: 40px;
    margin: 0;
  }
  @include media-breakpoint-down(sm) {
    .title {
      font-size: 24px;
      line-height: 28px;
    }
  }
}
.section-description {
  padding-bottom: 90px;
  .descr {
    font-size: 22px;
    font-family: $Light;
    text-align: center;
    line-height: 33px;
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: 50px;
    .descr {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
//END section-titleand description

.dont-padding {
  padding: 0;
}

//cards-section
#cards-section {
  .menu-cards {
    padding-top: 50px;

    .m-card {
      height: 400px;
      background-color: $gray;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      overflow: hidden;
      position: relative;
      &:hover {
        .wrap {
          //padding-top: 30%;
          top: 45%;
          img {
            opacity: 0;
          }
          div {
            span {
              color: $red;
            }
            .meta {
              opacity: 1;
            }
            bottom: 50%;
          }
        }
        @include media-breakpoint-down(sm){
          .wrap {
            top: 10%;
            img {  opacity: 1;  }
            div {
              span {
                color: $white;
              }
              .meta {
                opacity: 1;
              }
              bottom: 0;
            }
          }
        }
      }
      .wrap {
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 1.6rem;
        color: #fff;
        //padding-top: 35%;
        top: 30%;
        transition: .6s;
        //display: flex;
        //flex-direction: column;
        //align-items: center;
        //justify-content: center;
        img {
          position: relative;
          display: block;
          margin: 0 auto 15px;
          width: 40%;
          max-width: 110px;
          opacity: 1;
          transition: .6s;
        }
        div {
          position: relative;
          display: block;
          width: 100%;
          left: 0;
          bottom: 0;
          transition: 0.6s;
          span {
            color: $white;
            margin-top: 0;
            display: block;
            font-size: 24px;
            transition: 0.6s;
            text-transform: uppercase;
            font-family: $Bold;
            letter-spacing: 1px;
          }
          .meta {
            //position: absolute;
            margin: 0;
            opacity: 0;
            transition: 0.6s;
            ul {
              padding: 0 10px;
              li {
                font-family: $Light;
                font-size: 18px;
                line-height: 20px;
                padding: 7px 0;
              }
            }
            .more-info {
              text-decoration: none;
              text-transform: uppercase;
              color: $red;
              font-size: 18px;
              font-family: $Regular;
            }
            .wrap-arrow {
              display: flex;
              align-items: center;
              justify-content: center;
              .scroll-arrow {
                width: 10px;
                height: 10px;
                transform: rotate(-45deg);
                border-right: 2px solid $red;
                border-bottom: 2px solid $red;
                animation: arrow-wave 1s infinite;
                animation-direction: alternate;
                @for $i from 1 through 3 {
                  &:nth-child(#{$i}) {
                    animation-delay: 0.1s*$i;
                  }
                }
              }
              @keyframes arrow-wave {
                0% {
                  opacity: 0;
                }
                50% {
                  opacity: .5;
                }
                100% {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      &.first {
        background-image: url(../../images/m-card-bg1.png);
      }
      &.second {
        background-image: url(../../images/m-card-bg2.png);
      }
      &.third {
        background-image: url(../../images/m-card-bg3.png);
      }
      &.fourth {
        background-image: url(../../images/m-card-bg4.png);
      }

      @include media-breakpoint-down(sm){
        margin: 5px 0;
        .wrap {
          top: 10%;
          img {
            width: 15%;
          }
          div {
            .meta {
              opacity: 1;
              .more-info {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
//END cards-section

//section wmf-cms
#wmf-cms {
  .wrap-wmf-cms {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 580px;
    @include media-breakpoint-down(sm){
      flex-direction: column;
      height: 900px;
    }

    .block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100%;
      background: #424242;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.5s ease;
      //transition-delay: 0.2s;
      &:hover {
        //width: 200%;
        .content-wmf-cmf {
          display: flex;
          width: 100%;
          transition: all 0.5s ease;
        }
      }
      &.big-section {
        @include media-breakpoint-up(md) {
          width: 80%;
          .block-title {
            opacity: 1;
            transition: 0.5s;
            transition-delay: 0.8s;
          }
        }
      }
      &.small-section {
        @include media-breakpoint-up(md) {
          width: 20%;
          .block-title {
            opacity: 0;
            transition: 0.5s;
          }
        }
      }
      .block-title {
        //height: 100%;
        max-width: 800px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        margin: 20px 0;
        transition: all 0.2s;
        p {
          text-align: center;
          color: $white;
          font-size: 44px;
          padding: 0 15px;
          line-height: 48px;
          margin: 0;
          display: block;
          .firm {
            font-family: $Bold;
          }
        }
        @include media-breakpoint-down(md) {
          p {
            font-size: 30px;
            line-height: 36px;
          }
        }
        @include media-breakpoint-down(sm) {
          p {
            font-size: 24px;
            line-height: 30px;
            display: flex;
            flex-direction: column;
          }
        }
        @include media-breakpoint-down(xs) {
          p {
            font-size: 20px;
            line-height: 24px;
            display: flex;
            flex-direction: column;
          }
        }
      }

      .content-wmf-cmf {
        display: none;
        .c-image {
          width: 40%;
          display: flex;
          align-items: end;
          justify-content: center;
          img {
            max-width: 300px;
          }
        }
        .c-text {
          width: 60%;
          ul {
            li {
              font-size: 27px;
              line-height: 28px;
              color: $white;
              padding: 15px 0;
            }
          }
          .wrap-link {
            padding-top: 30px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .more-info {
              text-decoration: none;
              text-transform: uppercase;
              color: $white;
              font-size: 18px;
              font-family: $Bold;
              padding-left: 15px;
              display: flex;
            }
            .wrap-arrow {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              padding-right: 10px;
              .scroll-arrow {
                width: 10px;
                height: 10px;
                transform: rotate(-45deg);
                border-right: 2px solid $white;
                border-bottom: 2px solid $white;
                animation: arrow-wave 1s infinite;
                animation-direction: alternate;
                @for $i from 1 through 3 {
                  &:nth-child(#{$i}) {
                    animation-delay: 0.1s*$i;
                  }
                }
              }
              @keyframes arrow-wave {
                0% {
                  opacity: 0;
                }
                50% {
                  opacity: .5;
                }
                100% {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      @include media-breakpoint-down(md){
        width: 100%;
        &:hover {
          width: 200%;
        }
        .content-wmf-cmf {
          padding: 0 10px;
          .c-image {
            width: 0;
          }
          .c-text {
            width:100%;
            ul {
              li {
                font-size: 18px;
                line-height: 20px;
                color: $white;
                padding: 10px 10px;
                text-align: left;
              }
            }
            .wrap-link {
              justify-content: center;
            }
          }
        }
      }
      @include media-breakpoint-down(sm){
        width: 100%;
        background-size: contain;
        margin: 5px 0;
        &:hover {
          width: 100%;
        }
        .content-wmf-cmf {
          display: flex;
          padding: 0 10px;
          .c-image {
            width: 0;
          }
          .c-text {
            width:100%;
            ul {
              li {
                font-size: 18px;
                line-height: 20px;
                color: $white;
                padding: 10px 10px;
                text-align: left;
              }
            }
            .wrap-link {
              justify-content: center;
            }
          }
        }
      }
    }
    .block.wmf {
      background-image: url("../../images/wmf-bg.png"); /* fallback */
      background-image: url("../../images/wmf-bg.png"), radial-gradient(#707070, #424242); /* W3C */
    }
    .block.cms {
      background-image: url("../../images/cms-bg.png"); /* fallback */
      background-image: url("../../images/cms-bg.png"), radial-gradient(#c96363, #cf3838); /* W3C */
    }
  }
}
//END section wmf-cms


//section clients
#clients {
  .wrap-slider {
    width: 100%;
    height: auto;
    .clients-slider {
      .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 155px;
        outline: none;
        img {
          filter: grayscale(1);
          @include media-breakpoint-down(sm){
            filter: none;
          }
        }
      }
      & .slick-center {
        img {
          filter: grayscale(0);
        }
      }

      .slick-prev:before {
        content: '\2039';
      }
      .slick-next:before {
        content: '\203A';
      }
      .slick-prev,
      .slick-next {
        width: 70px;
        background-color: $white;
        height: 100%;
        z-index: 1;
        @include media-breakpoint-down(sm){
          background-color: transparent;
        }
      }
      .slick-prev{
        left: -10px;
      }
      .slick-next {
        right: -10px;
      }
      .slick-prev:before, .slick-next:before {
        font-size: 40px;
        color: $black;
      }
    }
  }
}
//END section clients

// MENU SCROLL
.container-line-menu {
  height: 115px;
  #line-menu {
    overflow: hidden;
    background-color: #ffffff;
    z-index: 1;
  }
  .sticky {
    transition: all 0.5s;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 20px -2px gray;

    .container-fluid {
      padding-right: 0;
    }
  }
  .none {
    display: none !important;
  }

  @include media-breakpoint-down(md){
    .sticky {
      .container-fluid {
        padding-right: 15px;
      }
    }
  }
}


//footer
footer {
  min-height: 450px;
  background-color: $black;
  color: $white;
  display: flex;
  align-items: center;
  .wrap-content-footer {
    display: flex;
    align-items: center;
  }

  .f-logo {
    img {
      max-width: 110px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
  
  .f-menu {
    ul {
      li {
        line-height: 20px;
        padding: 5px 0;
        a {
          text-decoration: none;
          color: $white;
          font-size: 24px;
          transition: 0.5s;
          &:hover {
            color: $red;
          }
        }
      }
    }
    &.left {
      text-align: right;
      font-family: $Light;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 10px;
    }
    &.right {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 10px;
    }
  }

  .wrap-copyright {
    position: absolute;
    width: 100%;
    padding-top: 50px;
    .copyright {
      text-align: center;
      padding-top: 20px;
      a {
        text-decoration: none;
        color: $gray;
        font-size: 12px;
        width: 100%;
      }
    }
  }
@include media-breakpoint-down(sm){
  min-height: 500px;
  .f-logo {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    img {
      max-width: 90px;
    }
  }
  .f-menu {
    text-align: center;
    ul {
      width: 100%;
      li a {
        font-size: 18px;
      }
    }
    &.left {
      text-align: center;
      justify-content: flex-start;
      padding: 15px 0 0 0;
      ul li {
        padding: 2px 0;
      }
    }
    &.right {
      padding-left: 0;
    }
  }
  .f-contact {
    padding-top: 20px;
  }
  .wrap-copyright {
    padding-top: 0px;
    .copyright {
      padding-top: 15px;
    }
  }
}
}

//END footer

