.product {

  .title-product{
    margin: 50px 0;
    .title {
      p {
        margin: 0;
        font-size: 30px;
        font-family: $Bold;
      }
    }
    .sub-title {
      p {
        font-size: 24px;
        font-family: $Semibold;
      }
    }
  }

  .tabs-kartochka {
    padding-right: 15px;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        text-align: center;
        a {
          text-decoration: none;
          color: $black;
          font-size: 20px;
          line-height: 22px;
          cursor: pointer;
          display: inline-block;
          position: relative;
          margin-bottom: 0.5em;
          &:after {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            background: $red;
            margin: auto;
            transition: all .5s ease;
            margin-top: 5px;
          }
          &:hover::after,
          &:focus::after{
            width: 100%;
          }
        }
      }
    }
  }

  #osnovnoe, #raschet-okup, #pohozchie-tovari, #service-maintenance, #documents {
    margin: 50px 0;
  }

  #osnovnoe {
    .image-product {
      .product-img-main {
        width: 100%;
        .img-main {
          width: 100%;
          outline: none;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: auto;
            height: 600px;
          }
        }
      }
      .product-img-preview {
        width: 80%;
        margin: 0 auto;
        //height: 100%;
        .preview {
          outline: none;
          //height: auto;
          margin: 20px 0;
          width: 100%;
          img {
            //width: 100%;
            height: 104px;
            width: auto;
            //height: auto;
          }
        }
      }
    }
    .text-product {
      .product-charact {
        padding-right: 15px;
        .title-charact {
          font-size: 30px;
          font-family: $Bold;
        }
      }
      .product-price {
        margin: 25px 0;
        p {
          font-size: 34px;
          margin: 0;
        }
        span {
          color: $red;
        }
      }
      .product-button {

      }
      .price-comment {
        margin: 25px 0;
        p {
          margin: 0;
          font-size: 15px;
          span {
            color: $red;
          }
        }
      }
    }
    .product-description {
      margin-top: 60px;
      .title {
        font-size: 30px;
        font-family: $Bold;
      }
      .text {
        padding-right: 25px;
      }

      .toggle-text {
        width: 100%;
        margin: 50px auto;
      }
      .toggle-text-content  {
        span {
          display: none;
        }
      }
      .toggle-text-link {
        display: block;
        margin: 10px 0 20px 0;
        color: $red;
        font-family: $Semibold;
        text-decoration: underline;
      }
    }
  }

  #raschet-okup {
    .calculate-raschet {
      .wrap-inpit {
        text-align: center;
        label {
          font-size: 22px;
        }
        .custom-input {
          width: 90px;
          font-size: 18px;
          border: 1px solid $red;
          margin: 0 auto;
          text-align: center;
          &:focus {
            box-shadow: none;
          }
        }
      }
    }
    .wrapp-table {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 30px 15px 30px 0;

      .col-table {
        display: flex;
        flex-direction: column;
        border-left: 1px dashed $red;
        width: 15%;
        align-items: center;
        height: 200px;
        justify-content: center;
        &:first-child {
          border-left: none;
        }

        p, div {
          height: 100px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
        p {
          border-bottom: 1px dashed $red;
          margin: 0;
          padding: 0 5px;
        }
        .bold-col-table {
          font-family: $Bold;
        }
      }
    }
    .comment-table {
      width:100%;
      p {
        margin: 0;
      }
    }
  }

  #pohozchie-tovari {
    padding-top: 100px;
    .similar-product {
      display: flex;
      align-items:center;
      justify-content: center;
      flex-direction: column;
      margin-top: 20px;
      img {
        width: auto;
        height: 350px;
      }
      p {
        font-size: 30px;
        width: 100%;
        text-align: center;
        margin:0;
        margin-top: 7px;
      }
    }
  }

  #service-maintenance {
    padding-top: 100px;
    .section-title .title {
      padding-bottom: 5px;
    }
  }
  .service-advantages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
      width: auto;
      height: 75px;
    }
    p {
      text-align: center;
      padding: 0 35px;
      margin: 0;
      margin-top: 10px;
    }
    span {
      color: $red;
    }
  }
  .range-of-services {
    margin: 70px 0;
    p {
      font-size: 26px;
      line-height: 35px;
    }
    ul {
      margin-left: 40px;
      li {
        list-style-type: disc;
        font-size: 22px;
        line-height: 32px;
        font-family: $Light;
      }
    }
  }
  .order-consultation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }

  #documents {
    padding-top: 100px;

    .schedule, .instructions {
      margin: 35px 0 80px 0;
      .item {
        margin-bottom: 30px;
      }
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: auto;
          height: 80px;
        }
      }
      .name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        p {
          font-size: 28px;
          line-height: 35px;
          margin:0;
        }
      }
      .open {
        display: flex;
        align-items: center;
        justify-content:center;
        height: 100%;
        a {
          color: $red;
          font-size: 22px;
          font-family: $Light;
        }
      }
    }
  }

}


