//color
$white: #ffffff;
$black: #141414;
$light-black: #212020;
$red: #dd2a1b;
$gray: #4d4d4d;
$bgHead: rgba(28, 28, 28, 0.75);

$duration: 0.3;
$easing: ease-in-out;

//fonts
$Light : 'ProximaNovaLight', sans-serif;
$Semibold : 'ProximaNovaSemibold', sans-serif;
$Bold : 'ProximaNovaBold', sans-serif;
$BoldIt : 'ProximaNovaBoldIt', sans-serif;
$Regular : 'ProximaNovaRegular', sans-serif;
$Black : 'ProximaNovaBlack', sans-serif;