<div class="wrap-news">
    <a href="#">
    <div class="news" style="background-image: url('../../images/news/news1.png')">
        <div class="date-news date-news_small">
            <p>29:</p>
            <p>мар</p>
            <p>2018</p>
        </div>

    </div>
    <div class="title-news">
        <p>Название новости и оно будет большое (намного) очень болшое</p>
    </div>
    <div class="descr-news">
        <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менееу, вебмастеру сгенерировать несколько абзацев более менее у, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору более менее осмысленного текста рыбы на русском языке, а начинающему оратору а начинающему оратору более менее осмысленного текста рыбы на русском языке, а начинающему оратору а начинающему оратору более менее осмысленного текста рыбы на русском языке, а начинающему оратору а начинающему оратору более менее осмысленного текста рыбы на русском языке, а начинающему оратору</p>
    </div>
    </a>
</div>