.calculate-raschet {
  .wrap-input, .wrap-select {
    text-align: center;
    label {
      font-size: 20px;
      margin-bottom: 25px;
      padding: 0 55px;
    }
    .custom-input, .custom-select {
      font-size: 18px;
      border: 1px solid $red;
      margin: 0 auto;
      text-align: center;
      color: $black;
      //line-height: 23px;
      &:focus {
        box-shadow: none;
      }
    }
    .custom-input {
      width: 90px;
    }
    .custom-select {
      width: 160px;
    }
    &.srok-okupaemosti {
      .form-group, p{
        margin: 0;
      }
      p a {
        color: $red;
      }
      label {
        font-family: $Bold;
        margin-bottom: 8px;
      }
      .custom-input {
        font-family: $Bold;
        font-size: 28px;
        border: none;
        margin: 0 auto;
        text-align: center;
        color: $black;
        width: 125px;
        &:focus {
          box-shadow: none;
        }
        @include media-breakpoint-down(sm){
          text-align: right;
        }
      }
    }
  }
}
.wrapp-table {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 15px 30px 0;

  .col-table {
    display: flex;
    flex-direction: column;
    border-left: 1px dashed $red;
    width: 15%;
    align-items: center;
    height: 200px;
    justify-content: center;
    &:first-child {
      border-left: none;
    }

    p, div {
      height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    p {
      border-bottom: 1px dashed $red;
      margin: 0;
      padding: 0 5px;
    }
    .bold-col-table {
      font-family: $Bold;
    }
  }
}
.comment-table {
  width:100%;
  p {
    margin: 0;
    font-size: 14px;
  }
}
@include media-breakpoint-down(md){
  .calculate-raschet {
    .wrap-input {
      padding-bottom: 15px;
      label {
        margin-bottom: 10px;
      }
      &.srok-okupaemosti {
        label {
          margin-bottom: 2px;
        }
      }
    }
  }
  .wrapp-table {
    flex-direction: column;
    .col-table {
      flex-direction: row;
      width: 100%;
      border-left: none;
      height: 100%;
      &:last-child {
        p,div {
          border-bottom: none;
        }
      }
      div {
        border-bottom: 1px dashed #dd2a1b;
        border-left: 1px dashed #dd2a1b;
      }
    }
  }
}
@include media-breakpoint-down(sm){
  .calculate-raschet {
    .wrap-input {
      padding-bottom: 15px;
      label {
        font-size: 18px;
        margin-bottom: 10px;
      }
      .custom-input {

      }
      &.srok-okupaemosti {
        label {
          margin-bottom: 2px;
        }
      }
    }
  }
  .wrapp-table {
    flex-direction: column;
    .col-table {
      flex-direction: row;
      width: 100%;
      border-left: none;
      height: 100%;
      &:last-child {
        p,div {
          border-bottom: none;
        }
      }
      div {
        border-bottom: 1px dashed #dd2a1b;
        border-left: 1px dashed #dd2a1b;
      }
    }
  }
}
.custom-card {
  border: 0;
}